.MainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: white;
    color: black
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

ion-label {
    margin-top: 4px;
}