ion-header {
  ion-toolbar {
    --background: #608bc1;
    border: none;
    text-align: center;

    ion-buttons {
      color: var(--ion-color-light);
    }
  }
  ion-title {
    color: white;
  }
}
