<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ionic-content class="MainContainer" fullscreen>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerUser(registerForm.value)"
  >
    <ion-grid>
      <ion-row style="gap: 16px; padding: 20px">
        <ion-col size="12" class="input-container">
          <ion-input
            type="text"
            label="Correo"
            fill="outline"
            formControlName="email"
            labelPlacement="floating"
          ></ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('email')?.hasError && registerForm.get('email')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('email') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-input
            type="text"
            label="Nombre"
            fill="outline"
            formControlName="name"
            labelPlacement="floating"
          ></ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('name')?.hasError && registerForm.get('name')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('name') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-input
            type="text"
            label="Apellido"
            fill="outline"
            formControlName="lastName"
            labelPlacement="floating"
          ></ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('lastName')?.hasError && registerForm.get('lastName')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('lastName') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-input
            type="text"
            label="Nombre de usuario"
            fill="outline"
            formControlName="userName"
            labelPlacement="floating"
          ></ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('userName')?.hasError && registerForm.get('userName')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('userName') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-input
            fill="outline"
            type="password"
            label="Contraseña"
            labelPlacement="floating"
            formControlName="password"
          >
          </ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('password')?.hasError && registerForm.get('password')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('password') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-input
            fill="outline"
            type="password"
            label="Confirmación de contraseña"
            labelPlacement="floating"
            formControlName="passwordConfirmation"
          >
          </ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('passwordConfirmation')?.hasError && registerForm.get('passwordConfirmation')?.dirty)"
          >
            <ng-container
              >{{ getFirstErrorMessage('passwordConfirmation') }}</ng-container
            >
          </ion-label>
        </ion-col>

        <ion-col size="12">
          <ion-button
            type="submit"
            expand="block"
            style="--background: #608bc1"
            [disabled]="!registerForm.valid"
            >Registrarse</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ionic-content>
