<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ionic-content class="MainContainer">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerUser(registerForm.value)"
  >
    <ion-grid>
      <ion-row style="gap: 16px; padding: 20px">
        <ion-col size="12" class="input-container">
          <ion-input
            type="text"
            label="Correo"
            fill="outline"
            formControlName="email"
            labelPlacement="floating"
          ></ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('email')?.hasError && registerForm.get('email')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('email') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-input
            type="text"
            label="Nombre de usuario"
            fill="outline"
            formControlName="username"
            labelPlacement="floating"
          ></ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('username')?.hasError && registerForm.get('username')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('username') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-input
            type="text"
            label="Nombre completo"
            fill="outline"
            formControlName="fullName"
            labelPlacement="floating"
          ></ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('fullName')?.hasError && registerForm.get('fullName')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('fullName') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-input
            fill="outline"
            type="password"
            label="Contraseña"
            labelPlacement="floating"
            formControlName="password"
          >
          </ion-input>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('password')?.hasError && registerForm.get('password')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('password') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12" class="input-container">
          <ion-textarea
            label="Biografía"
            fill="outline"
            formControlName="biography"
            labelPlacement="floating"
            [counter]="true"
            maxlength="50"
          ></ion-textarea>
          <ion-label
            style="font-size: 12px"
            color="danger"
            *ngIf="(registerForm.get('biography')?.hasError && registerForm.get('biography')?.dirty)"
          >
            <ng-container>{{ getFirstErrorMessage('biography') }}</ng-container>
          </ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-button type="submit" expand="block" style="--background: #608bc1"
            >Iniciar sesión</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ionic-content>
